.devices-table {
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

.devices-table td {
	width: 40%;
	padding: 2px;
	padding-left: 5px;
}

.devices-table td:last-child {
	width: 20%;
	color: green;
}

.devices-table tr {
	border-bottom: 1px groove black;
}

.devices-table tr:last-child
{
   border-bottom: none;
}

.devices-table th {
	padding: 5px;
	width: 40%;
}

.devices-table th:last-child {
	width: 20%;
}