* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

#blur-background {
    background-image: url('https://i.imgur.com/nlFiFH2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Montserrat;

    min-height: 10000px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    /* Optional */
    /*
	-webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    */
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10%;
	width: 60%;
	font-family: Calibri, sans-serif;
}
