.room {
	/*height: 300px;*/
	width: 100%;
	float: left;
	background-color: #f5f5f5;
	
	border: 2px solid #2f79ef;
	/*border-left: none;*/
	/*border-right: none;*/
	border-radius: 8px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	box-sizing: border-box;
}

.room-head {
	height: 15%;
	width: 100%;
	background: #e2e2e2;
	padding-top: 1%;
	padding-left: 1%;
	border-radius: 8px 8px 0px 0px;
	box-sizing: border-box;
}

.room-list-wrapper {	
	margin-left: auto;
	margin-right: auto;	
}

.room-list {
	width: 50%;
	float: left;	
}

.room-list a {
	text-decoration: none;	
}

.room-list a:active {
	text-decoration: none;	
}

.room-list-item {
	width: 100%;
	height: 40px;
	font-size: 20px;
	/*font-style: bold;*/ /* Non existent value*/
	color: #ffffff;
	padding-top: 7px;
	text-align: center;
	background-color: #639fff;
	cursor: pointer;
	-moz-transition: background-color 0.2s ease-out;
	-o-transition: background-color 0.2s ease-out;
	-ms-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
}
			
.room-list-item:hover {
	background-color: #2f79ef;	
}
